body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.time {
  font-family: monospace;
}

.centered {
  margin: 0 auto;
  padding-top: 300;
}

.center-text {
  text-align: center;
}

.bold {
  font-weight: bold;
  font-size: larger;
}

.green {
  color:rgb(122, 175, 15);
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 150px;
}