body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.time {
  font-family: monospace;
}

.centered {
  margin: 0 auto;
}

.no-margin {
  margin: 0;
}

.nav-top {
  position: fixed;
  height: 33px;
  bottom: 0;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 0px;
  width: 100%;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 1)
  );
  text-align: center;
}

.nav-member {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  top: 0;
  height: 33px;
  display: table-cell;
  vertical-align: middle;
  align-content: center;
}

.best-time {
  text-align: left;
}

.logo {
  width: 30px;
}

.center-text {
  text-align: center;
}

.bold-larger {
  font-weight: bold;
  font-size: larger;
}

.bold {
  font-weight: bold;
}

.green {
  color: rgb(122, 175, 15);
}

.red {
  color: firebrick;
}

.title-container {
  margin-top: 50px;
  margin-bottom: 15px;
  margin-right: 10px;
  margin-left: 10px;
}

.title-top-row {
  font-size: 130px;
  text-align: center;
  clear: both;
}

.title-bottom-row {
  font-size: 100px;
  text-align: center;
  margin-top: -20px;
}
